Source: balancc
Section: devel
Priority: extra
Maintainer: André Roth <neolynx@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.9.1
Homepage: https://github.com/neolynx/balancc/wiki
Vcs-Git: http://github.com/neolynx/balancc.git
Vcs-Browser: https://github.com/neolynx/balancc

Package: balancc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Suggests: distcc
Description: load balancer for distcc and more
 Client and Server for load balancing. The server
 keeps track of the average load on the clients,
 and provides the most idle client upon request.
 Can be used in conjunction with distcc.
